#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled

# Install OS instead of upgrade
install

# Use CDROM installation media
cdrom

# Root password
rootpw --iscrypted $1$eVuiWZWo$LPljXiFkqkVteY.z0/GHB1

# System authorization information
auth  --useshadow  --passalgo=sha512

# Use text mode install
text

# System keyboard
keyboard us

# System language
lang en_US

# SELinux configuration
selinux --disabled

# Do not configure the X Window System
skipx

# Installation logging level
logging --level=info

# Reboot after installation
reboot

# System timezone
timezone  Asia/Taipei

# Network information
network  --bootproto=static --device=eth0 --gateway=10.0.2.2 --ip=10.0.2.180 --nameserver=8.8.8.8 --netmask=255.255.255.0 --onboot=on

# System bootloader configuration
bootloader --location=mbr --driveorder=sda --append="rhgb quiet"

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel 

# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=512
part swap --asprimary --fstype="swap" --size=8192
part / --asprimary --fstype="ext4" --size=51200
part /data --asprimary --fstype="ext4" --grow --size=1

%post

# copy 
mkdir /mnt/cdrom
mount -t iso9660 /dev/cdrom /mnt/cdrom
cp /mnt/cdrom/post.sh /root/
cp /mnt/cdrom/final.sh /root/
cp /mnt/cdrom/ifcfg-eth* /root/
cp /mnt/cdrom/CentOS-Base.repo /root/
umount /mnt/cdrom

# execute
sh /root/post.sh

# clean 
rm -f /root/post.sh /root/CentOS-Base.repo

%end

%packages
@core
%end
